<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="google" content="notranslate" />
	<meta http-equiv="content-language" content="en" />

	<title><%= htmlWebpackPlugin.options.title %></title>

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

		html, body {
			margin: 0;
			padding: 0;
		}

		iframe#webpack-dev-server-client-overlay {
			display: none;
		}

		#editor-loading {
			width: 100%;
			height: 100%;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		article {
			padding: 0 20px;
			display: block;

			font-family: 'Open Sans', sans-serif;
		}

		@media (min-width: 900px) {
			article {
				margin-top: 50px;
			}
		}

		section {
			background: #fff;
    		box-shadow: 0 0 1px 1px #c6e6f2;
    		margin: 0 auto;
    		max-width: 970px;
    		padding: 2em;
		}

		sunstar-editor {
			border: 1px solid #aaa;
			min-height: 100px;
		}

		#help {
			min-height: 200px;

			display: flex;
			flex-direction: row;
		}

		#table {
			padding-left: 1rem;
			display: grid;
			grid-template-columns: 50% 50%;
			grid-template-rows: repeat(10, min-content);
			justify-items: left;
			align-items: center;
		}
	</style>
</head>
<body class="notranslate">
	<article>
		<section>
			<h1>Sunstar's Editor Demo</h1>
			<strong>Version 0.2.0 (November 5, 2023)</strong>
			<hr>

			<div id="help">
				<div style="width: 55%;">
					<ul>
						<li>A math and rich text editor based on the Matriculation Examination Board's rich-text-editor.</li>
						<li>This is still in development. Expect bugs and unfinished features.</li>
						<li>The initial test release was released on August 26, 2023.</li>
						<li>You can follow the development <a href="https://github.com/SunstarVIII/editor" target="_blank">on the project's GitHub repo page</a>.</li>
					</ul>
				</div>
				<div style="width: 45%;" id="table">
					<p>Paste an image from the clipboard</p>
					<p>Ctrl-V</p>
					<p>Insert an equation using MathLive</p>
					<p>Ctrl-E</p>
					<strong>In the MathLive editor</strong>
					<p></p>
					<p>Close the math editor (deleting it if empty)</p>
					<p>Esc</p>
					<p>Continue on a new line</p>
					<p>Enter</p>
					<p>Write formulae using LaTeX</p>
					<p></p>
				</div>
			</div>

			<sunstar-editor id="sunstar-editor-element"></sunstar-editor>

			<p id="save-info" style="display: none;">Everything typed will be saved automatically.</p>
			<p id="autosave-unavailable" style="display: none;"><span style="color: red;">Autosave isn't available because localStorage cannot be accessed.</span></p>
			<p id="autosave-failed" style="display: none;"><span style="color: red;">Couldn't save your work. Maybe localStorage is full?</span></p>
		</section>
	</article>

	<footer>

	</footer>

	<%= htmlWebpackPlugin.tags.bodyTags %>

	<script async="false">
		const editor = document.querySelector('#sunstar-editor-element');

		const saveInfo = document.getElementById('save-info');
		const autosaveUnavailable = document.getElementById('autosave-unavailable');
		const autosaveFailed = document.getElementById('autosave-failed');

		function initializeEditor() {
			let isSaveSupported = false;
			let editorSave = null;

			try {
				editorSave = localStorage.getItem('editor-save');
				isSaveSupported = true;

				saveInfo.style = 'display: block;';
			} catch (e) {
				console.warn(`Cannot load save data: ${e}`);

				saveInfo.style = 'display: none;';
				autosaveUnavailable.style = 'display: block;';
			}

			if (isSaveSupported) {
				editor.addEventListener('input', (ev) => {
					try {
						localStorage.setItem('editor-save', ev.target.value);
						autosaveFailed.style = 'display: none;';
					} catch (e) {
						autosaveFailed.style = 'display: block;';
					}
				});
				
				if (editorSave) {
					setTimeout(() => {
						editor.value = editorSave;
					}, 500);
				}
			}
		}

		initializeEditor();
	</script>
</body>
</html>
