<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="google" content="notranslate" />
	<meta http-equiv="content-language" content="en" />

	<title><%= htmlWebpackPlugin.options.title %></title>

	<style>
		iframe#webpack-dev-server-client-overlay {
			display: none;
		}

		#editor {
			border: 1px solid #aaa;
			box-sizing: content-box;
			min-height: 100px;
			padding: 5px;
		}

		article {
			padding: 0 20px;
			display: block;
		}

		section {
			background: #fff;
    		box-shadow: 0 0 1px 1px #c6e6f2;
    		margin: 0 auto;
    		max-width: 870px;
    		padding: 2em;
		}

		#spacer {
			height: 200px;
		}
	</style>
</head>
<body class="notranslate">
	<article>
		<section>
			<div id="spacer"></div>
			<h1>Misty Editor Demo</h1>
			<div id="editor"></div>
		</section>
	</article>
	<footer>

	</footer>

	<%= htmlWebpackPlugin.tags.bodyTags %>

	<script async="false">
		const editor = document.querySelector('#editor');
		setTimeout(() => {
			initMistyEditor(editor, {});
		}, 1000);
	</script>
</body>
</html>