.sunstar-editor {
	box-sizing: border-box !important;
	padding: 5px !important;

	min-height: 2em;
}

.img {
	display: inline;

	max-height: 400px;
}

.math-field-open {
	display: block;

	width: calc(100% - 10px);
	height: fit-content;
}

.math-field-open math-field {
	width: 100%;
	height: fit-content;
}
