.button {
	text-align: center;
	display: inline-block;
	position: relative;
	cursor: pointer;
	border: none;
	padding: 0;
}

.math-editor-focus .button[data-command]:hover:after,
.button-action[data-command]:hover:after {
	background: #359bb7;
	border-radius: 5px;
	color: #fff;
	content: attr(data-command);
	letter-spacing: 1.5px;
	font-size: 16px;
	left: 50%;
	top: 100%;
	padding: 7px 15px;
	position: absolute;
	z-index: 32;
	transform: translate(-50%, 0);
	white-space: nowrap;
}

.math-editor-focus .button[data-command]:hover:before,
.button-action[data-command]:hover:before {
	display: inline-block;
	border: solid;
	border-color: #359bb7 transparent;
	border-width: 0 6px 6px 6px;
	bottom: 0;
	content: '';
	left: 50%;
	position: absolute;
	z-index: 99;
	margin-left: -6px;
}

.button[data-command]:after:hover,
.button[data-command]:before:hover {
	display: none;
}

.button:active {
	box-shadow: none;
}

.button-action {
	padding: 5px 10px;
	font-weight: normal;
	background: none;
	border: none;
	font-family: SourceSansPro-Semibold, sans-serif;
	font-size: 16px;
	letter-spacing: 1.5px;
	color: #359bb7;
	letter-spacing: 0;
	line-height: 22px;
}

.new-equation {
	display: block;
	vertical-align: top;
	height: 35px;
	width: 153px;
	white-space: nowrap;
}

.math-editor-focus .new-equation {
	display: none;
}

.tools {
	visibility: hidden;
	z-index: 2;
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	position: fixed;
	top: -110px;
	left: 0;
	right: 0;
	box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
	line-height: 0;
	background: white;
	transition: top 0.15s;
}

.tools--animating {
	visibility: visible;
}

.rich-text-editor-focus .show-all-characters {
	top: 0;
}

.rich-text-editor-focus .tools {
	visibility: visible;
	top: 0;
}

.toolbar-wrapper {
	margin: auto;
	max-width: 990px;
	position: relative;
}

.tools-row:nth-child(even) {
	background: #fff;
}

.tools-row:nth-child(odd) {
	background: #fafafa;
	border-top: 1px solid #dfdfdf;
}

.toolbar {
	z-index: 30;
	display: inline-block;
}

.toolbar .button {
	font-size: 16px;
	background: none;
	position: relative;
}

.toolbar .button:hover {
	background: #eee;
}

.button-grid {
	width: 35px;
	height: 35px;
}

.toolbar.toolbar-button-list img {
	max-width: 24px;
	max-height: 25px;
}

.toolbar-button-list.button:hover {
	background: #ececec;
}

.toolbar-characters {
	margin-right: 30px;
}

.toolbar-characters.toolbar-button-list .button {
	font-family: Symbola, monospace;
	color: #555;
}

.toolbar-equation {
	display: none;
}

.toolbar-equation .button:last-child {
	margin-right: 35px;
}

.math-editor-focus .toolbar-equation {
	display: inline-block;
}

.toolbar-characters-group {
	margin-right: 12px;
	display: inline-block;
	vertical-align: top;
}

.toolbar-characters .button {
	display: none;
}

.characters-popular {}
.show-all-characters .toolbar-characters .button,
.toolbar-characters .button.characters-popular {
	display: inline-block;
}

.toolbar-tool > svg {
	margin: auto;
	max-height: 85%;
	max-width: 85%;
}

.characters-expand-collapse {
	display: inline-block;
	font-family: 'SansSerif', serif;
	height: 35px;
	border: none;
	cursor: pointer;
	padding-top: 4px;
	position: absolute;
	right: 35px;
	top: 0;
	bottom: 0;
	width: 20px;
	margin-right: 8px;
	background: url('../assets/expand.svg') 50% 50% no-repeat;
}

.show-all-characters .characters-expand-collapse {
	background-image: url('../assets/collapse.svg');
}

.help-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 35px;
	background: url('../assets/helpButton.svg') no-repeat 50% 50%;
	border: none;
	cursor: pointer;
	display: block;
}

.undo-redo-wrapper {
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-flex;
}

.toolbar .undo-redo,
.toolbar .undo-redo:hover {
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: none;
	cursor: pointer;
}

.toolbar .undo-button,
.toolbar .undo-button:hover {
	background-image: url('../assets/undoButton.svg');
	margin-right: 5px;
}

.toolbar .redo-button,
.toolbar .redo-button:hover {
	background-image: url('../assets/redoButton.svg');
}

.undo-redo:disabled {
	filter: grayscale(100%);
	pointer-events: none;
}

@media (min-width: 1279px) {
	.new-equation {
		left: -153px;
		position: absolute;
	}

	.tools-button-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
	}

	.tools {
		top: -60px;
	}
}

@media print {
	.rich-text-editor-focus .tools {
		display: none;
	}
}
